# Ignore everything
*

# Except these files
!.gitignore
!README.md
!automations.yaml
!configuration.yaml
!secrets.yaml
!configurations
!configurations/*
!dashboards
!dashboards/*
!www
!www/*
!www/images
!www/images/*
!www/images/*/*
